body {
	font-family: "Comic Sans MS","Times New Roman";
    background-color: black;
    border: 2px dotted red; 
    width: 1200px;
    margin: 0;
    padding: 0;
}
html{
    background-image: url(../images/skateboard.gif)
}
main {
    clear: left; 
    padding: 20px 20px 20px 20px;
    color: white
}
h1 {
    padding-left: 25%
}

p{
    padding-left: 17%
}

h1::first-letter {
    font-size: 200%;
}

img {
    float: center;
}

header {
    text-indent: 20px;
    border-bottom: 2px solid black;
    padding: 20px;
    text-align: center;
}

.a {
    font-size: 200%;
}

a {
    font-weight: bold;
}

a:link {
    color: red;
}

a:visited {
    color: red;
}

a:hover {
    color: lime;
}

li {
    margin: 0 0 10px 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: black;
    position: absolute;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    border-bottom: 2px dotted red;
    border-right: 2px dotted red;
    border-top: 2px dotted red;
}

/* Change the link color on hover */
li a:hover {
    color: lime;
}
li a.active {
  color: lime;
}



.nav-area {
    background-color: black;
}
.nav-area:after {
    content: '';
    clear: both;
    display: block;
}
.nav-area > ul > li{
    float: left;
    position: relative;
}
.nav-area ul li a{
    text-decoration: none;
    display: block;
    padding: 15px 20px
}
.nav-area ul ul{
    position: absolute;
    padding: 0;
    min-width: 160px;
    display: none;
    top: 100%;
    left: 0;
}
.nav-area ul li:hover > ul{
    display: block;
}